@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-family: 'Playfair Display', sans-serif;
  --links-font-family: 'Oswald', sans-serif;

  --color-bg: #ffffff;
  --color-link: #15a198;
  --color-blog: #042c54;
  --color-text: #ffffff;
  /* --color-bg: #2e754e; #263738f7; */

  --color-subtext: #115e59;
}